// Color Palette ---------------------------------------------------------------

$color-white-abs: #FFFFFF;
$color-black-abs: #000000;

$color-purple: #993399;
$color-pink: #D84862;
$color-cosmic: #FFF8E7;
$color-green: #A9C04E;
$color-blue: #2B3C51;

$color-white: $color-cosmic;
$color-black: $color-purple;
